.autocomplete-container {
  width: 220px;
  height: 200px;
  margin: 0 auto;
  background: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
  border: 2px solid black;
}

.autocomplete-wrapper {
  h2 {
    padding-top: 30px;
  }
}

.input-field {
  margin-bottom: 10px;
  border: 1px solid black;
}

.list-item {
  list-style-type: square;
}

::placeholder {
  padding-left: 3px;
}